<%- include('./blocks/head.ejs')  %> 
<%- include('./blocks/navbar.ejs') %>


<section class="welcome">  
    <div class="container">
        <h1 class="welcome__text">
            Страница не найдена
        </h1>
    </div>
</section>



<%- include('./blocks/footer.ejs') %>