<footer class="footer">
    <div class="container">
        <div class="footer__text">
            <a href="/" class="footer__logo"><span>PH-</span>TEST</a> | Разработчик отдела информационных технологий  Абусев Р.
        </div>
    </div>
</footer>
</body>
</html>